<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Register</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #db565b"
    >
      <a class="navbar-brand text-white" href="#">Register</a>
    </nav>

    <div class="container mt-4">
      <h2>Register user</h2>

      <form action="/api/v1/users"" method="post">
        <div class="form-group">
          <label>Masukkan name anda</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="nama"
          />
        </div>
        <div class="form-group">
          <label>Masukkan username anda</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="username"
          />
        </div>
        <div class="form-group">
          <label>Masukkan email anda</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="email"
          />
        </div>
        <div class="form-group">
          <label>Masukkan password anda</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Daftar</button>
      </form>
    </div>

  </body>
</html>
