<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset</title>
  </head>
  <body>
    <h2>Reset password user</h2>

    <form
      action="/api/v1/auth/reset-password?token=<%= token %> "
      method="POST"
    >
      <p>
        <input
          type="password"
          id="new_password"
          name="new_password"
          required
          placeholder="insert your new password"
        />
      </p>
      <p>
        <input
          type="password"
          id="new_password_confirm"
          name="new_password_confirm"
          required
          placeholder="confirm your new password"
        />
      </p>

      <p><input type="submit" name="" id="" value="reset password" /></p>
    </form>
  </body>
</html>
